{% extends 'base.html.twig' %}

{% block title %}
    تعرف على تحديث الحالات اليومي لفيرس كورونا(كوڤيد-19) و التحديثات السابقة وقم بعمل إختبار إصابة لنفسك
    |
    {{parent()}}
{% endblock %}
{% block header %}
    <h2 class="display-5 pt-5"> حالات فيروس كورونا (كوڤيد-19) في مصر</h2>
    {% if not app.request.get('page') %}
        <p>
            إجمالي المصابين: <strong class="text-primary">{{ lastCase.totalCases }}</strong>,
            حالات نشطة: <strong class="text-warning">{{ lastCase.totalCases - (lastCase.totalRecovered + lastCase.totalDeaths) }}</strong>,
            حالات الشفاء: <strong class="text-success">{{ lastCase.totalRecovered }}</strong>,
            وفيات: <strong class="text-danger">{{ lastCase.totalDeaths }}</strong>
        </p>
        <p>
            <i> بين كل مليون شخص يوجد {{ (lastCase.totalCases/100)|round }} مصاب</i>
        </p>
    {% endif %}
{% endblock %}
{% block body %}
<div id="cases_linechart" class="chart row">
</div>
    <br/>
    <p class="text-center text-secondary"><i>
           من {{ (cases|first).createdAt|date('d-m-Y') }} إالى {{ (cases|last).createdAt|date('d-m-Y') }} (14 يوم)
        </i></p>
<br/>
<div class="table-responsive">
        <table id="egStatus" class="table table-hover table-bordered text-center">
            <thead class="thead-light">
            <tr>
                <th scope="col">التاريخ</th>
                <th scope="col">حالات جديدة</th>
                <th scope="col">شفاء</th>
                <th scope="col">وفيات</th>
                <th scope="col">إجمالي المصابين</th>
                <th scope="col">إجمالي الشفاء</th>
                <th scope="col">إجمالي الوفيات</th>
            </tr>
            </thead>
            <tbody>
            {% for case in cases %}
                <tr>
                    <td class="table-active"><a href="{{ path('show_case', {'date': case.createdAt|date("Y-m-d")}) }}">{{ case.createdAt|date("Y-m-d") }}</a></td>
                    <td class="table-primary">{{ case.newDailyCases }}</td>
                    <td class="table-success">{{ case.newDailyRecovered }}</td>
                    <td class="table-danger">{{ case.newDailyDeaths }}</td>
                    <td class="table-primary">{{ case.totalCases }}</td>
                    <td class="table-success">{{ case.totalRecovered }}</td>
                    <td class="table-danger">{{ case.totalDeaths }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation justify-content-center">
            {{ knp_pagination_render(cases) }}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">هل تريد عمل إختبار لنفسك؟</h5>
                    <button type="button" class="close float-left m-0 p-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>يساعد هذا الإختبار على تقييم وضعك الصحي تجاه الإصابة بفيرس كورونا (كوفيد-19)</p>
                    <a target="_blank" class=" btn btn-warning text-white" href="{{path('corona-test')}}">إبدأ الإختبار</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawLineChart);

        function drawLineChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', '');
            data.addColumn('number', 'حالات جديدة');
            data.addColumn('number', 'حالات الشفاء');
            data.addColumn('number', 'حالات الوفاة');

            data.addRows([
                {% for case in cases|slice(0,50) %}
                {% set year = case.createdAt|date("Y") %}
                {% set month = case.createdAt|date("m") - 1 %}
                {% set day = case.createdAt|date("d") %}

                [
                    new Date({{ year}}, {{ month }}, {{ day }}),
                    {{ case.newDailyCases }},
                    {{ case.newDailyRecovered }},
                    {{ case.newDailyDeaths }}
                ]
                {% if loop.index != cases|length %}, {% endif %}
                {% endfor %}
            ]);

            var options = {
                colors: ['blue', 'green', 'red']
            };

            var chart = new google.charts.Line(document.getElementById('cases_linechart'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }

     setTimeout(function(){
            $("#exampleModal").modal('show');
        }, 20000);
    </script>
{% endblock %}
