{% extends 'base.html.twig' %}

{% block title %}
    تعرف على تحديث الحالات اليومي لفيرس كورونا(كوڤيد-19) و التحديثات السابقة وقم بعمل إختبار إصابة لنفسك
    |
    {{parent()}}
{% endblock %}
{% block header %}
    <h1 class="display-5 pt-3">متابعة شاملة لنشاط فيروس كورونا (كوڤيد-19) في مصر</h1>
{% endblock %}
{% block body %}
{#    <div class="row">#}
{#        <div class="col-md-6">#}
{#            <div class="card mb-4 box-shadow border-light">#}
{#                <div class="card-header text-bold text-center text-danger">#}
{#                    <strong>إسأل طبيب</strong>#}
{#                </div>#}
{#                <div class="card-body text-center">#}
{#                    إذا كان لديك أي سؤال متعلق بفيروس كورونا, تستطيع التواصل معنا لنجيب عليه#}
{#                    <br/>#}
{#                    <a title="إسأل طبيب متخصص في كورونا" href="{{ path('ask-doctor') }}" class="btn btn-danger">إسأل الأن</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-6">#}
{#            <div class="card mb-4 box-shadow border-light">#}
{#                <div class="card-header text-bold text-center text-danger">#}
{#                   <strong>إعزل نفسك</strong>#}
{#                </div>#}
{#                <div class="card-body text-center">#}
{#                    إذا كنت تعاني من أعراض بسيطة وقررت عزل نفسك في المنزل, تستطيع التواصل مع طبيب متخصص خلال فترة العزل#}
{#                    <br/>#}
{#                    <a title="اعزل نفسك في المنزل" href="{{ path('isolate-yourself') }}" class="btn btn-danger">إبدأ العزل</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class="row">
        <div class="col-md-6">
            <div class="card box-shadow border-light">
                <div class="card-header text-bold text-center">
                    <a class="list-unstyled text-danger
                     dropdown-toggle" data-toggle="collapse" href="#collapseExample"
                       aria-expanded="false" aria-controls="collapseExample" style="text-underline: none;">
                        <strong class="text-danger show-dates">
                            {% if lastCase.createdAt|date('Y-m-d') == "now"|date('Y-m-d') %}
                                تحديث اليوم بتاريخ {{ lastCase.createdAt|date('d-m-Y') }}
                            {% else %}
                                أخر تحديث بتاريخ {{ lastCase.createdAt|date('d-m-Y') }}
                            {% endif %}
                        </strong>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            {% for i in "now"|date("m").."2019-02-15"|date("m") %}
                                <p class="text-bold text-center"> شهر {{ i }} </p>
                                <div class="row text-right">
                                    {% for case in cases %}
                                        {% if case.createdAt|date('m') == i %}
                                            <div class="col-xs-3">
                                                <a class="text-bold dropdown-item text-danger"
                                                   href="{{ path('show_case', {'date': case.createdAt|date('Y-m-d')}) }}">{{ case.createdAt|date('d') }}</a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless text-center">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">الإصابات</th>
                                <th scope="col">الشفاء</th>
                                <th scope="col">الوفاة</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">اليوم</th>
                                <td>{{ lastCase.newDailyCases }}</td>
                                <td>{{ lastCase.newDailyRecovered }}</td>
                                <td>{{ lastCase.newDailyDeaths }}</td>
                            </tr>
                            <tr>
                                <th scope="row">الإجمالي</th>
                                <td>{{ lastCase.totalCases }}</td>
                                <td>{{ lastCase.totalRecovered }}</td>
                                <td>{{ lastCase.totalDeaths }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <small style="position: relative;top: -10px;" class="text-left mb-2 float-left"><a class="text-secondary" href="https://www.facebook.com/egypt.mohp" target="_blank"> المصدر: egypt.mohp@</a></small>
                        <a href="{{ path('cases') }}" class="btn btn-sm btn-danger float-right">إضغط هنا لتصفح جميع الحالات</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-light">
                <div id="piechart" class="chart row"></div>
            </div>
        </div>
        <div class="col-md-12">
            <ul class="mt-0 mb-0">
                {% if lastCase.newDailyCases == statistics['minCaseCurrentMonth'] %}
                    <li><span class="text-success"> أقل عدد إصابات هذا الشهر</span></li>
                {% endif %}
                {% if lastCase.newDailyRecovered == statistics['maxRecovered'] %}
                    <li><span class="text-success">أعلى عدد حالات شفاء حتى الأن</span></li>
                {% endif %}
                {% if lastCase.newDailyRecovered == statistics['maxRecoveredCurrentMonth'] %}
                    <li><span class="text-success">أعلى عدد حالات شفاء هذا الشهر</span></li>
                {% endif %}
                {% if lastCase.newDailyDeaths == statistics['minDeathsCurrentMonth'] %}
                    <li><span class="text-success">أقل عدد وفيات هذا الشهر</span></li>
                {% endif %}
            </ul>
            <ul class="mt-0 mb-0">
                {% if lastCase.newDailyCases == statistics['maxCaseCurrentMonth'] %}
                    <li><span class="text-danger"> أعلى عدد إصابات هذا الشهر</span></li>
                {% endif %}
                {% if lastCase.newDailyCases == statistics['maxCase'] %}
                    <li><span class="text-danger"> أعلى عدد إصابات حتى الأن</span></li>
                {% endif %}
                {% if lastCase.newDailyRecovered == statistics['minRecoveredCurrentMonth'] %}
                    <li><span class="text-danger">أقل عدد حالات شفاء هذا الشهر</span></li>
                {% endif %}
                {% if lastCase.newDailyDeaths == statistics['maxDeathsCurrentMonth'] %}
                    <li><span class="text-danger">أعلى عدد وفيات هذا الشهر</span></li>
                {% endif %}
                {% if lastCase.newDailyDeaths == statistics['maxDeaths'] %}
                    <li><span class="text-danger">أعلى عدد وفيات حتى الأن</span></li>
                {% endif %}
            </ul>
            <br/>
        </div>
    </div>
    <br/>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">هل تريد عمل إختبار لنفسك؟</h5>
                    <button type="button" class="close float-left m-0 p-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>يساعد هذا الإختبار على تقييم وضعك الصحي تجاه الإصابة بفيرس كورونا (كوفيد-19)</p>
                    <a class=" btn btn-warning text-white" href="{{ path('corona-test') }}">إبدأ
                        الإختبار</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block chart %}
    <div id="linechart_material" class="chart row">
    </div>
    {% if viewScores %}
        <hr/>
        <br/>
        <div class="container" style="direction: rtl">
            <h3 class="text-right">نسبة إنتشار الفيرس خلال الأسبوعين القادمين</h3>
            <p class="text-secondary">هذه النسبة تحدد مستوى إنتشار الفيرس في المحافظات خلال الأسبوعين القادمين من إجمالي عدد الإصابات الجديدة في هذه الفترة بناء على البيانات المتوفرة لدينا</p>
            <div class="row">
                <div class="col-xs-4 mr-3 mb-2">
                    <div class="table-responsive" style="text-align: center; direction: rtl;">
                        <table class="table table-hover text-center">
                            <tbody>
                            {% for score in scores|slice(0,10) %}
                                <tr>
                                    <th scope="row">{{ score['location'].title }}</th>
                                    <td>{{ ((score['score']/totalScore)*100)|round(2) }} %</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-4 mr-3 mb-2">
                    <div class="table-responsive" style="text-align: center; direction: rtl;">
                        <table class="table table-hover text-center ">
                            <tbody>
                            {% for score in scores|slice(10,10) %}
                                <tr>
                                    <th scope="row">{{ score['location'].title }}</th>
                                    <td>{{ ((score['score']/totalScore)*100)|round(2) }} %</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-4 mr-3 mb-2">
                    <div class="table-responsive" style="text-align: center; direction: rtl;">
                        <table class="table table-hover text-center">
                            <tbody>
                            {% for score in scores|slice(20,10) %}
                                <tr>
                                    <th scope="row">{{ score['location'].title }}</th>
                                    <td>{{ ((score['score']/totalScore)*100)|round(2) }} %</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <br/><hr/>
    <div class="row" style="direction: rtl;">
        <div class="col-md-6">
            <div class="card mb-4 box-shadow border-light">
                <div class="card-header text-bold text-center text-danger">
                    <strong>توقع تقريبي للحالات بعد أسبوعين</strong>
                </div>
                <div class="card-body text-center table-responsive">
                    <table class="table table-borderless text-center lead">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">الإصابات</th>
                            <th scope="col">الشفاء</th>
                            <th scope="col">الوفاة</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">الإجمالي اليوم</th>
                            <td>{{ lastCase.totalCases }}</td>
                            <td>{{ lastCase.totalRecovered }}</td>
                            <td>{{ lastCase.totalDeaths }}</td>
                        </tr>
                        <tr>
                            {% set recoveredPercentage = ((lastCase.totalRecovered / lastCase.totalCases) * 100)|round(1) %}
                            {% set deathsPercentage = ((lastCase.totalDeaths / lastCase.totalCases) * 100)|round(1) %}
                            <th scope="row">بعد أسبوعين</th>
                            <td>{{ estimates['cases'] }}</td>
                            <td>
                                {{ estimates['recovered']['total'] }}
                                <br/>
                                {% if estimates['recovered']['percentage'] > recoveredPercentage %}
                                    <small style="font-size: 14px;" title="تحسن بنسبة {{ estimates['recovered']['percentage'] - recoveredPercentage }}%+" class="text-success">
                                        تحسن {{ estimates['recovered']['percentage'] - recoveredPercentage }}%+
                                    </small>
                                {% else %}
                                    <small style="font-size: 14px;" title="إنخفاض بنسبة {{ recoveredPercentage - estimates['recovered']['percentage'] }}%-" class="text-danger">
                                       إنخفاض {{ recoveredPercentage - estimates['recovered']['percentage'] }}%-
                                    </small>
                                {% endif %}
                            </td>
                            <td>
                                {{ estimates['deaths']['total'] }}
                                <br/>
                                {% if estimates['deaths']['percentage'] < deathsPercentage %}
                                    <small style="font-size: 14px;" title="إنخفاض بنسبة {{ deathsPercentage - estimates['deaths']['percentage'] }}%-" class="text-success">
                                        إنخفاض {{ deathsPercentage - estimates['deaths']['percentage'] }}%-
                                    </small>
                                {% else %}
                                     <small style="font-size: 14px;" title="زيادة بنسبة {{ estimates['deaths']['percentage'] - deathsPercentage }}%" class="text-danger">
                                        زيادة {{ estimates['deaths']['percentage'] - deathsPercentage }}%+
                                     </small>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="expectedPiechart" class="chart row"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawPieChart);

        function drawPieChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['حالات الشفاء', {{ lastCase.totalRecovered }}],
                ['الوفيات',  {{ lastCase.totalDeaths }}],
                ['حالات مصابة نشطة', {{ lastCase.totalCases - (lastCase.totalRecovered + lastCase.totalDeaths) }}],
            ]);

            var options = {
                colors: ['green', 'red', 'orange']
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }

        ///////////////////////////////////////////////////////////
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawExpectedPieChart);

        function drawExpectedPieChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['حالات الشفاء', {{ estimates['recovered']['total'] }}],
                ['الوفيات',  {{ estimates['deaths']['total'] }}],
                ['حالات مصابة نشطة', {{ estimates['cases'] - (estimates['recovered']['total'] + estimates['deaths']['total']) }}],
            ]);

            var options = {
                colors: ['green', 'red', 'orange']
            };

            var chart = new google.visualization.PieChart(document.getElementById('expectedPiechart'));

            chart.draw(data, options);
        }
        ///////////////////////////////////////////////////////////

        google.charts.load('current', {'packages': ['line']});
        google.charts.setOnLoadCallback(drawLineChart);

        function drawLineChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', '');
            data.addColumn('number', 'الإصابات');
            data.addColumn('number', 'الشفاء');
            data.addColumn('number', 'الوفيات');

            data.addRows([
                {% for case in cases|slice(0,50) %}
                {% set year = case.createdAt|date("Y") %}
                {% set month = case.createdAt|date("m") - 1 %}
                {% set day = case.createdAt|date("d") %}

                [
                    new Date({{ year }}, {{ month }}, {{ day }}),
                    {{ case.newDailyCases }},
                    {{ case.newDailyRecovered }},
                    {{ case.newDailyDeaths }}
                ]
                {% if loop.index != cases|length %}, {% endif %}
                {% endfor %}
            ]);

            var options = {
                colors: ['blue', 'green', 'red']
            };

            var chart = new google.charts.Line(document.getElementById('linechart_material'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        setTimeout(function () {
            $("#exampleModal").modal('show');
        }, 25000);
    </script>
{% endblock %}
