{% extends 'base.html.twig' %}
{% block meta_tags %}
    <meta name="description" content=" تحديث الحالات بتاريخ {{ case.createdAt|date('d-m-Y') }} , حالات جديدة: {{ case.newDailyCases }} مجموع الحالات: {{ case.totalCases }}    حالات الوفاة: {{ case.newDailyDeaths }}">
{% endblock %}
{% block title %}
    {% if lastCase.createdAt|date('Y-m-d') == case.createdAt|date('Y-m-d') %}
        تحديث الحالات بتاريخ {{ case.createdAt|date('d-m-Y') }} | حالات جديدة: {{ case.newDailyCases }} مجموع الحالات: {{ case.totalCases }} حالات الوفاة: {{ case.newDailyDeaths }} |
    {% else %}
        مقارنة بين   تحديث الحالات بتاريخ {{ case.createdAt|date('d-m-Y') }}  واليوم
        | حالات جديدة: {{ case.newDailyCases }} مجموع الحالات: {{ case.totalCases }} حالات الوفاة: {{ case.newDailyDeaths }}
    {% endif %}
    {{parent()}}
{% endblock %}
{% block header %}
    <h2 class="display-8 pt-5">تحديث حالات فيروس كورونا (كوڤيد-19) بتاريخ {{ case.createdAt|date('d-m-Y') }}</h2>

    {% if lastCase.createdAt|date('Y-m-d') == case.createdAt|date('Y-m-d') %}
        <p>
            حالات جديدة: <strong class="text-primary">{{ case.newDailyCases }}</strong>,
            حالات الشفاء: <strong class="text-success">{{ case.newDailyRecovered }}</strong>,
            وفيات: <strong class="text-danger">{{ case.newDailyDeaths }}</strong>
        </p>
    {% else %}
        {% set casesPercentage = (((lastCase.totalCases - case.totalCases) / (case.totalCases!=0 ? case.totalCases : 1) )*100)|round %}
        {% set recoveredPercentage = (((lastCase.totalRecovered - case.totalRecovered) / (case.totalRecovered!=0 ? case.totalRecovered : 1))*100)|round %}
        {% set deathPercentage = (((lastCase.totalDeaths - case.totalDeaths) / (case.totalDeaths!=0 ? case.totalDeaths : 1))*100)|round %}
        <p style="direction: rtl;">
            نسبة الإصابات:
             {% if casesPercentage <= 0  %}
                 <strong class="text-success">
                     <span class="text-bold" style="font-size: 22px;">&#8595;</span>{{ casesPercentage }}%
                 </strong>
             {% else %}
                 <strong class="text-danger">
                     <span class="text-bold" style="font-size: 22px;">&#8593;</span>{{ casesPercentage }}%
                 </strong>
             {% endif %},
            نسبة الشفاء:
            {% if recoveredPercentage >= 0  %}
                <strong class="text-success">
                    <span class="text-bold" style="font-size: 22px;">&#8593;</span>{{ recoveredPercentage }}%
                </strong>
            {% else %}
                <strong class="text-danger">
                    <span class="text-bold" style="font-size: 22px;">&#8595;</span>{{ recoveredPercentage }}%
                </strong>
            {% endif %},
            نسبة الوفيات:
            {% if deathPercentage <= 0  %}
                <strong class="text-success">
                    <span class="text-bold" style="font-size: 22px;">&#8595;</span>{{ deathPercentage }}%
                </strong>
            {% else %}
                <strong class="text-danger">
                    <span class="text-bold" style="font-size: 22px;">&#8593;</span>{{ deathPercentage }}%
                </strong>
            {% endif %}
        </p>
    {% endif %}

{% endblock %}
{% block body %}
    <div class="row">
        {% if lastCase.createdAt|date('Y-m-d') == case.createdAt|date('Y-m-d') %}
            <div class="col-md-6">
                <div class="card mb-4 box-shadow border-light">
                    <div class="card-header text-bold text-center">
                        <a class="list-unstyled text-danger
                     dropdown-toggle" data-toggle="collapse" href="#collapseExample"
                           aria-expanded="false" aria-controls="collapseExample" style="text-underline: none;">
                            <strong class="text-danger show-dates">أخر تحديث
                                بتاريخ {{ lastCase.createdAt|date('d-m-Y') }}</strong>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                {% for i in "now"|date("m").."2019-02-15"|date("m") %}
                                    <p class="text-bold text-center"> شهر {{ i }} </p>
                                    <div class="row text-right">
                                        {% for case in cases %}
                                            {% if case.createdAt|date('m') == i %}
                                                <div class="col-xs-3">
                                                    <a class="text-bold dropdown-item text-danger"
                                                       href="{{ path('show_case', {'date': case.createdAt|date('Y-m-d')}) }}">{{ case.createdAt|date('d') }}</a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-borderless text-center">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">الإصابات</th>
                                <th scope="col">الشفاء</th>
                                <th scope="col">الوفاة</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">اليوم</th>
                                <td>{{ case.newDailyCases }}</td>
                                <td>{{ case.newDailyRecovered }}</td>
                                <td>{{ case.newDailyDeaths }}</td>
                            </tr>
                            <tr>
                                <th scope="row">الإجمالي</th>
                                <td>{{ case.totalCases }}</td>
                                <td>{{ case.totalRecovered }}</td>
                                <td>{{ case.totalDeaths }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{{ path('cases') }}" class="btn btn-danger">إضغط هنا لتصفح جميع التحديثات</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 border-light">
                    <div id="piechart" class="chart row"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 box-shadow border-light">
                    <div class="card-header text-bold text-center text-danger">
                        <strong>توقعات تقريبية بعد أسبوعين</strong>
                    </div>
                    <div class="card-body text-center table-responsive">
                        <table class="table table-borderless text-center">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">الإصابات</th>
                                <th scope="col">الشفاء</th>
                                <th scope="col">الوفاة</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">الإجمالي اليوم</th>
                                <td>{{ lastCase.totalCases }}</td>
                                <td>{{ lastCase.totalRecovered }}</td>
                                <td>{{ lastCase.totalDeaths }}</td>
                            </tr>
                            <tr>
                                {% set recoveredPercentage = ((lastCase.totalRecovered / lastCase.totalCases) * 100)|round(1) %}
                                {% set deathsPercentage = ((lastCase.totalDeaths / lastCase.totalCases) * 100)|round(1) %}
                                <th scope="row">بعد أسبوعين</th>
                                <td>{{ statistics['cases'] }}</td>
                                <td>
                                    {{ statistics['recovered']['total'] }}
                                    {% if statistics['recovered']['percentage'] > recoveredPercentage and (statistics['recovered']['percentage'] - recoveredPercentage) != 0 %}
                                        <small style="font-size: 14px;" title="تحسن بنسبة {{ statistics['recovered']['percentage'] - recoveredPercentage }}%+" class="text-success">{{ statistics['recovered']['percentage'] - recoveredPercentage }}%+</small>
                                    {% else %}
                                        <small style="font-size: 14px;" title="إنخفاض بنسبة {{ recoveredPercentage - statistics['recovered']['percentage'] }}%-" class="text-danger">{{ recoveredPercentage - statistics['recovered']['percentage'] }}%-</small>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ statistics['deaths']['total'] }}
                                    {% if statistics['deaths']['percentage'] < deathsPercentage and (deathsPercentage - statistics['deaths']['percentage']) != 0 %}
                                        <small style="font-size: 14px;" title="إنخفاض بنسبة {{ deathsPercentage - statistics['deaths']['percentage'] }}%-" class="text-success">
                                            {{ deathsPercentage - statistics['deaths']['percentage'] }}%-
                                        </small>
                                    {% else %}
                                        <small style="font-size: 14px;" title="زيادة بنسبة {{ statistics['deaths']['percentage'] - deathsPercentage }}%" class="text-danger">{{ statistics['deaths']['percentage'] - deathsPercentage }}%+</small>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="expectedPiechart" class="chart row"></div>
            </div>
        {% else %}
            <div class="col-md-6">
                <div class="card-header text-bold text-center">
                    <a class="list-unstyled text-danger
                     dropdown-toggle" data-toggle="collapse" href="#collapseExample"
                       aria-expanded="false" aria-controls="collapseExample" style="text-underline: none;">
                        <strong class="text-danger show-dates">{{ case.createdAt|date('d-m-Y') }}</strong>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            {% for i in case.createdAt|date("m").."2019-02-15"|date("m") %}
                                <p class="text-bold text-center"> شهر {{ i }} </p>
                                <div class="row text-right">
                                    {% for case in cases %}
                                        {% if case.createdAt|date('m') == i %}
                                            <div class="col-xs-3">
                                                <a class="text-bold dropdown-item text-danger"
                                                   href="{{ path('show_case', {'date': case.createdAt|date('Y-m-d')}) }}">{{ case.createdAt|date('d') }}</a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card mb-2 border-light">
                    <div id="piechart" class="chart row"></div>
                </div>
                <div class="card mb-2 box-shadow border-light">
                    <div class="card-body table-responsive">
                        <table class="table table-borderless text-center">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">الإصابات</th>
                                <th scope="col">الشفاء</th>
                                <th scope="col">الوفاة</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">اليوم</th>
                                <td>{{ case.newDailyCases }}</td>
                                <td>{{ case.newDailyRecovered }}</td>
                                <td>{{ case.newDailyDeaths }}</td>
                            </tr>
                            <tr>
                                <th scope="row">الإجمالي</th>
                                <td>{{ case.totalCases }}</td>
                                <td>{{ case.totalRecovered }}</td>
                                <td>{{ case.totalDeaths }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-header text-bold text-center">
                    <h5 class="text-danger"><strong>اليوم</strong></h5>
                </div>
                <div class="card mb-2 border-light">
                    <div id="piechart1" class="chart row"></div>
                </div>
                <div class="card mb-2 box-shadow border-light">
                    <div class="card-body table-responsive">
                        <table class="table table-borderless text-center">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">الإصابات</th>
                                <th scope="col">الشفاء</th>
                                <th scope="col">الوفاة</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">اليوم</th>
                                <td>{{ lastCase.newDailyCases }}</td>
                                <td>{{ lastCase.newDailyRecovered }}</td>
                                <td>{{ lastCase.newDailyDeaths }}</td>
                            </tr>
                            <tr>
                                <th scope="row">الإجمالي</th>
                                <td>{{ lastCase.totalCases }}</td>
                                <td>{{ lastCase.totalRecovered }}</td>
                                <td>{{ lastCase.totalDeaths }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-md-12 text-center mb-4">
            <div class="sharethis-inline-share-buttons"></div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">هل تريد عمل إختبار لنفسك؟</h5>
                    <button type="button" class="close float-left m-0 p-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>يساعد هذا الإختبار على تقييم وضعك الصحي تجاه الإصابة بفيرس كورونا (كوفيد-19)</p>
                    <a target="_blank" class=" btn btn-warning text-white" href="{{path('corona-test')}}">إبدأ الإختبار</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block chart %}
    <br/>
    <h4 class="text-right">رسم تحليلي للحالات بتاريخ {{ case.createdAt|date('Y-m-d') }}</h4>
    <div id="linechart_material" class="chart row">
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ea19ac4d716680012d4952d&product=inline-share-buttons&cms=website' async='async'></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawPieChart);

        function drawPieChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['حالات الشفاء', {{ case.totalRecovered }}],
                ['الوفيات',  {{ case.totalDeaths }}],
                ['حالات مصابة نشطة', {{ case.totalCases - (case.totalRecovered + case.totalDeaths) }}],
            ]);

            var options = {
                colors: ['green', 'red', 'orange']
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }

        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawLineChart);

        function drawLineChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', '');
            data.addColumn('number', 'حالات جديدة');
            data.addColumn('number', 'حالات الشفاء');
            data.addColumn('number', 'حالات الوفاة');

            data.addRows([
                {% for case in cases|slice(0,50) %}
                {% set year = case.createdAt|date("Y") %}
                {% set month = case.createdAt|date("m") - 1 %}
                {% set day = case.createdAt|date("d") %}

                [
                    new Date({{ year}}, {{ month }}, {{ day }}),
                    {{ case.newDailyCases }},
                    {{ case.newDailyRecovered }},
                    {{ case.newDailyDeaths }}
                ]
                {% if loop.index != cases|length %}, {% endif %}
                {% endfor %}
            ]);

            var options = {
                colors: ['blue', 'green', 'red']
            };

            var chart = new google.charts.Line(document.getElementById('linechart_material'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        setTimeout(function(){
            $("#exampleModal").modal('show');
        }, 25000);

    {% if lastCase.createdAt|date('Y-m-d') != case.createdAt|date('Y-m-d') %}
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawPieChartNow);

            function drawPieChartNow() {

                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['حالات الشفاء', {{ lastCase.totalRecovered }}],
                    ['الوفيات',  {{ lastCase.totalDeaths }}],
                    ['حالات مصابة نشطة', {{ lastCase.totalCases - (lastCase.totalRecovered + lastCase.totalDeaths) }}],
                ]);

                var options = {
                    colors: ['green', 'red', 'orange']
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart1'));

                chart.draw(data, options);
            }
    {% else %}
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawExpectedPieChart);

        function drawExpectedPieChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['حالات الشفاء', {{ statistics['recovered']['total'] }}],
                ['الوفيات',  {{ statistics['deaths']['total'] }}],
                ['حالات مصابة نشطة', {{ statistics['cases'] - (statistics['recovered']['total'] + statistics['deaths']['total']) }}],
            ]);

            var options = {
                colors: ['green', 'red', 'orange']
            };

            var chart = new google.visualization.PieChart(document.getElementById('expectedPiechart'));

            chart.draw(data, options);
        }
    {% endif %}
    </script>
{% endblock %}
