{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %}
    إختباراتي
    |
    {{ parent() }}
{% endblock %}

{% block body %}
    {% set symptomsStartedAt = user.symptomsStartedAt|date('d-m-Y') %}
    {% set today = "now"|date('d-m-Y') %}
    {% set symptomsDateDifference = date(today).diff(date(symptomsStartedAt))%}
    {% set symptomsDays = symptomsDateDifference.days %}
    {% if symptomsStartedAt == today %}
        {% set symptomsDays = 'يوم' %}
    {% elseif symptomsDays > 9 %}
        {% set symptomsDays = symptomsDays~ ' يوم' %}
    {% elseif symptomsDays == 2 %}
        {% set symptomsDays = 'يومان' %}
    {% else %}
        {% set symptomsDays = symptomsDays~ ' أيام' %}
    {% endif %}
    <div class="alert alert-warning alert-dismissible fade show" id="alertMessage" role="alert">
        <p class="text-right">إذا كانت الحالة شديدة الخطورة, اطلب منه التوجه إلى مستشفى العزل فورا أو يتواصل مع الخط الساخن لوزارة الصحة (105)</p>
        <button type="button" class="close text-left" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td>الإسم: {{ user.fullName }}</td>
                </tr>
                <tr>
                    <td>العمر: {{ date('now').diff((user.birthDate)).format('%y سنة') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-4">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td>يسكن في: {{ user.location }}
                        {% if user.location.parent %}
                             / {{ user.location.parent }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>بداية ظهور الأعراض: {{ user.symptomsStartedAt|date('d-m-Y') }} <span class="badge badge-primary">{{ symptomsDays }}</span> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-4">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td>بداية العزل: {{ user.isolationStartedAt|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>نهاية العزل: {{ user.isolationEndAt|date('d-m-Y') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-4">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td>يعاني من مرض مزمن؟
                        {% if user.chronic %}
                            <span class="badge badge-danger">نعم</span>
                        {% else %}
                            <span class="badge badge-success">لا</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>هل يوجد فرد من أفراد الأسرة يعاني من مرض مزمن؟
                        {% if user.familyChronic %}
                            <span class="badge badge-danger">نعم</span>
                        {% else %}
                            <span class="badge badge-success">لا</span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {% if user.tests is not empty %}
            {% set userTest = user.tests|last %}
            <div class="col-xs-4">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td>خالط حالة إيجابية؟
                            {% if userTest.data['contact-confirmed-case'] %}
                                <span class="badge badge-danger">نعم</span>
                            {% else %}
                                <span class="badge badge-success">لا</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>هل يعمل في المجال الطبي؟
                            {% if userTest.data['work-medical-field'] %}
                                <span class="badge badge-danger">نعم</span>
                            {% else %}
                                <span class="badge badge-success">لا</span>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    {% if user.isolations is not empty %}
        <h1 class="display- text-center">جدول المتابعة</h1>
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">التاريخ</th>
                    <th scope="col">درجة الحرارة</th>
                    <th scope="col">ألم في الجسم</th>
                    <th scope="col">إسهال</th>
                    <th scope="col">صداع</th>
                    <th scope="col">فقدان التذوق</th>
                    <th scope="col">سعال</th>
                    <th scope="col">ألم في الحلق</th>
                    <th scope="col">رشح الأنف</th>
                    <th scope="col">ضيق تنفس</th>
                    <th scope="col">ضغط الدم</th>
                    <th scope="col">تعليق الحالة</th>
                </tr>
                </thead>
                <tbody>
                {% for isolation in isolations %}
                    <tr>
                        <td>
                            {% if isolation.doctorComment is empty %}
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#doctorFeedbackModal-{{ loop.index }}">
                                    إضغط للتقييم
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#doctorFeedbackModal-{{ loop.index }}">
                                    راجع التقييم
                                </button>
                            {% endif %}
                        </td>
                        <td class="table-active">{{ isolation.createdAt|date('m/d') }}</td>
                        <th scope="row" class="{{ isolation.temperature > 37 ? 'table-danger' : 'table-success'}}"> {{ isolation.temperature }} </th>
                        <td class="{{ isolation.bodyAche ? 'table-success' : 'table-danger'}}"> {{ isolation.bodyAche ? 'نعم' : 'لا'}} </td>
                        <td class="{{ isolation.diarrhea ? 'table-success' : 'table-danger'}}"> {{ isolation.diarrhea ? 'نعم' : 'لا'}} </td>
                        <td class="{{ isolation.headache ? 'table-success' : 'table-danger'}}"> {{ isolation.headache ? 'نعم' : 'لا'}} </td>
                        <td class="{{ isolation.loseOfTaste ? 'table-success' : 'table-danger'}}"> {{ isolation.loseOfTaste ? 'Yes' : 'لا'}} </td>
                        <td class="{{ isolation.cough ? 'table-success' : 'table-danger'}}"> {{ isolation.cough ? 'نعم' : 'لا'}} </td>
                        <td class="{{ isolation.soreThroat ? 'table-success' : 'table-danger'}}"> {{ isolation.soreThroat ? 'نعم' : 'لا'}} </td>
                        <td class="{{ isolation.runnyNose ? 'table-success' : 'table-danger'}}"> {{ isolation.runnyNose ? 'نعم' : 'لا'}} </td>
                        <td class="{{ isolation.dyspnea ? 'table-success' : 'table-danger'}}"> {{ isolation.dyspnea ? 'نعم' : 'لا'}} </td>
                        <td class="table-info"> {{isolation.bloodPressure}} </td>
                        <td class="table-active">
                            <a href="#" class="text-primary" data-toggle="modal" data-target="#doctorFeedbackModal-{{ loop.index }}">
                                إضغط للمشاهدة
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% set lastIsolation = isolations|last ? (isolations|last).createdAt|date('Y-m-d') : app.user.isolationStartedAt|date_modify("-1 day")|date("Y-m-d") %}

                {% set difference = date(user.isolationEndAt).diff(date(user.isolationStartedAt)) %}
                {% set isolationDays = difference.days %}
                {% set remainingDays = isolationDays - isolations|length %}
                {% for isolationRow in 1..(isolationDays - isolations|length )%}
                    <tr>
                        <td>#</td>
                        <td class="table-active">{{ lastIsolation|date_modify("+"~loop.index~" day")|date("m/d") }}</td>
                        <th>-</th>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% for isolation in user.isolations%}
                <div class="modal fade" id="doctorFeedbackModal-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title float-right mt-3" id="exampleModalLabel">مراجعة تاريخ {{ isolation.createdAt|date('Y-m-d') }}</h5>
                                <button type="button" class="close float-left m-0" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label class="text-bold">تعليق الحالة: </label>
                                <blockquote class="blockquote">
                                    <p class="text-justify">{{ isolation.describeYourCase }}</p>
                                </blockquote>
                                <hr/>
                                {{ render(controller(
                                    'App\\Controller\\Web\\UserController::createDoctorFeedback',
                                    { id: isolation.id}
                                )) }}
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    {% else %}
        <br/>
        <hr/>
        <p class="text-bold text-primary text-center">لا يوجد سجل متابعة لهذه الحالة حتى الأن</p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        setTimeout(function () {
            $("#alertMessage").fadeOut();
        }, 4000);
    </script>
{% endblock %}