<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="corona, corona egypt, covid-19,  فيرس كورونا ,كورونا, كورونا مصر, كوڤيد-19, اختبار كورونا, أخر مستجدات فيروس كورونا, الأعراض والإحصائيات‎">
        {% block meta_tags %}
            <meta name="description" content=" تعرف على تحديث الحالات اليومي لفيرس كورونا(كوڤيد-19) و التحديثات السابقة وقم بعمل إختبار إصابة لنفسك">
        {% endblock %}
        <meta name="author" content="كوڤيد-19 مصر">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}كوڤيد-19 مصر{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap" rel="stylesheet">
            <style>
                body {
                    font-family: 'Tajawal', sans-serif;
                }
                #piechart1{
                    width: 100%;
                    min-height: 335px;
                }
                #piechart{
                    width: 100%;
                    min-height: 335px;
                }
                #linechart_material {
                    text-align: center;
                    margin: 0 auto;
                    width: 100%;
                    min-height: 450px;
                }
                .app-title {
                    font-size: 25pt;
                }
                @media (max-width: 479px) {
                    .navbar-header {
                        width: 100%;
                    }
                    .navbar-toggler {
                        float: left;
                    }
                    .app-title {
                        float: right;
                    }
                    #piechart{
                        width: 385px;
                        min-height: 300px;
                    }
                    #piechart1{
                        width: 385px;
                        min-height: 300px;
                    }
                }
            </style>
        {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163614860-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-163614860-1');
        </script>

    </head>
    <body>
    {% block navbar%}

        <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #ececec">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">الصفحة الشخصية</a>
                                <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">الإعدادات</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">خروج</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" title="أهم الأسئلة الشائعة عن فيروس كورونا" href="{{path('questions')}}">أسئلة عن فيرس كورونا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="نصائح هامة عن الوقاية من فيروس كورونا" href="{{path('advices')}}">نصائح هامة</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="تحديث الحالات اليومية لفيروس كورونا في مصر" href="{{path('cases')}}">تصفح الحالات</a>
                    </li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('user-tests')}}">نتائج إختباراتي</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a title="اختبار الإصابة بكورونا" class="nav-link text-warning ui-widget-shadow" href="{{path('corona-test')}}"><strong class="label label-warning">إختبر نفسك</strong></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-header">
                <h1 title="كوڤيد-19 مصر لتحديثات الإصابة اليومية بفيروس كورونا المستجد , عمل إختبار إصابة بفيروس كورونا" class="app-title navbar-brand font-weight-normal"><a href="{{path('index')}}"><span class="badge badge-danger">كوڤيد-19 مصر</span></a></h1>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button></div>
        </nav>
    {% endblock %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        {% block header %}
        {% endblock %}
    </div>

    <div class="container mx-auto " style="direction: rtl; text-align: right">
    {% block body %}
        {% endblock %}
    </div>

    <div class="container  mx-auto char_row">
        {% block chart %}
        {% endblock %}
    </div>
    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-md-6 text-left">
                    <p class="text-bold">© 2020 جميع الحقوق محفوظة لـ كوڤيد-19 مصر</p>
                </div>
                <div class="col-md-6 text-right">
                    <a href="https://twitter.com/covid19egypt" target="_blank" class="text-bold">تابعنا على تويتر</a>

                </div>
            </div>
        </footer>
    </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ea19ac4d716680012d4952d&product=inline-share-buttons&cms=website' async='async'></script>        {% endblock %}
    </body>
</html>
